{% extends 'PM/index.html' %}
{% block body %}

<body>

          <!-- Table with stripped rows -->
               <table class="table table-bordered table-striped table-hover ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    
                    <th scope="col">User</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th scope="col">Tasks</th>
                    <th scope="col">Team Lead</th>

                    

                  </tr>
                </thead>
                <tbody>
                  {% for i in team %}
                  <tr> 
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td>{% if i.USER.photo == 'None' %} <img src="/static/assets/img/20230814095643.jpg" class="rounded-circle" height="50px" width="50px"> {% else %}<img src="/media/{{ i.USER.photo }}" width="50px" class="rounded-circle" height="50px">{% endif %}<br>{{ i.USER.name }}</td>
                    <td>{{ i.USER.email }}</td>
                    <td>{{ i.USER.phone }}</td>
                    <td><a href="{% url 'adminviewtasks' i.USER.id %}">Show <i class="bi bi-eye-fill"></i></td>
                    <td> <div class="form-check form-switch">
                      <input class="form-check-input team-lead-toggle"  type="checkbox" data-user-id="{{i.USER.id}}" data-project-id="{{i.PROJECT.id}}" id="flexSwitchCheckDefault" {%if i.is_team_lead  == True %} checked="" {%else%} {%endif%}>
                    </div>
                    </td>

                  </tr>
                  {% endfor %}

                </tbody>
              </table>






 


{%block script%}
<!-- Include jQuery library if not already included -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    $('.team-lead-toggle').on('click', function() {
      
      var user_id = $(this).data('user-id');
      var project_id = $(this).data('project-id');
      var is_team_lead = $(this).is(':checked');
      var csrf_token = '{{ csrf_token }}'; // Get the CSRF token from the template

      console.log(user_id,project_id,is_team_lead);
      $.ajax({
        type: 'POST',
        url: '{% url 'update_team_lead' %}',
        data: {
          'user_id': user_id,
          'project_id': project_id,
          'is_team_lead': is_team_lead
        },
         headers: {
            'X-CSRFToken': csrf_token // Include the CSRF token in the request headers
          },
        success: function(data) {
          if (data.success) {
            location.reload();
          } else {
            // Handle errors if necessary
          }
        }
      });
    });
  });
</script>
{%endblock%}


</body>
{% endblock %}
