{% extends 'User/index.html' %}
{% block body %}

<body>

  {% if Error %}

     <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ Error }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
    <!-- Floating Labels Form -->
    <form class="row g-3" method="post" id="cpform" action="">
        {% csrf_token %}
      <div class="col-md-12">
        <div class="form-floating">
            {{ form.oldpassword }}
          <label for="{{ form.oldpassword.id_for_label }}">Old Password</label>
          


        </div>
      </div>

        <div class="col-md-12">
        <div class="form-floating">
            {{ form.newpassword }}
          <label for="{{ form.newpassword.id_for_label }}">New Password</label>
          <span id="passwordError" class="text-danger"></span>
          {% if form.newpassword.errors %}
          <ul class="errorlist" >
          {% for error in form.newpassword.errors %}
          <li><span class="text-danger">{{ error }}</span></li>
          {% endfor %}
          </ul>
          {% endif %}

        </div>
      </div>


        <div class="col-md-12">
        <div class="form-floating">
            {{ form.confirmpassword }}
          <label for="{{ form.confirmpassword.id_for_label }}">Confirm Password</label>
            <span class="text-danger" id="pmis">*Password Missmatch</span>
        </div>
      </div>



      <div class="text-center">
        <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    </form><!-- End floating Labels Form -->






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="/static/js/passwordvalidations.js" >

</script>













</body>

{% endblock %}