{% extends 'User/index.html' %}
{% block body %}

<body>

          <!-- Table with stripped rows -->
          <form method="get" id="filter-form-user" action="{% url 'userassignedprojects' %}">
            {% csrf_token %}
            <div align="left" class="p-1 m-1">
              <label for="{{ filterform.typeofproject.id_for_label }}">Project Type:</label>
              {{ filterform.typeofproject }}
              <label for="{{ filterform.statusofproject.id_for_label }}">Project Status:</label>
              {{ filterform.statusofproject }}   
  
              <label for="{{ filterform.pfromdate.id_for_label }}">From:</label>
              {{ filterform.pfromdate }}  
              <label for="{{ filterform.ptodate.id_for_label }}">To:</label>
              {{ filterform.ptodate }}  
              <button type="submit" class="btn btn-primary">Filter <i class="bi bi-search"></i></button>
            </div>           
        
        </form>
             
          
          
          <table class="table table-bordered table-striped table-hover " id="projects-table-user">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project</th>
                    <th scope="col">Description</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Status</th>
                    <th scope="col">Task</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in data %}
                  <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td>{{ i.PROJECT.projectname }}</td>
                    <td>{{ i.PROJECT.description }}</td>
                    <td>{{ i.PROJECT.duration }}<br>{{ i.PROJECT.startdate }} to {{ i.PROJECT.enddate }}</td>
                    <td>
                      {% if i.PROJECT.status == 'Completed' %}
                      <span class="badge bg-success"><i class="bi circle "></i> {{ i.PROJECT.status }}</span>
                      {% elif i.PROJECT.status == 'Ongoing' %}
                      
                      <span class="badge bg-primary"><i class="bi circle"></i> {{ i.PROJECT.status }}</span>

                      {% elif i.PROJECT.status == 'Cancel' %}

                      <span class="badge bg-danger"><i class="bi circle "></i> {{ i.PROJECT.status }}</span>

                      {% elif i.PROJECT.status == 'Onhold' %}
                      <span class="badge bg-secondary"><i class="bi circle "></i> {{ i.PROJECT.status }}</span>
                      
                      {% else %}
                      <span class="badge bg-info"><i class="bi circle "></i> {{ i.PROJECT.status }}</span>
                      {% endif %}
                    
                    </td>
                    <td>
                      <a href="#" class="btn btn-primary add-task-button" data-bs-toggle="modal" data-bs-target="#addTaskModal" data-project-id="{{ i.PROJECT.id }}" >Add Task <i class="bi bi-plus"></i></a></td>  
                      <td><a href="{% url 'userviewtasks' i.PROJECT.id %}" class="btn btn-danger">Tasks <i class="bi bi-list-task"></i></a></td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>

              


              <div id="pagination-links" class="mt-3">
                {% if data.has_other_pages %}
                    <ul class="pagination">
                        {% if data.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        <li class="page-item active"><span class="page-link">{{ data.number }}</span></li>
                        {% if data.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ data.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ data.paginator.num_pages }}">Last</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
          <!-- End Table with stripped rows -->




 <!-- Floating form for add Task -->




    <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formModalLabel">Add Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                  <!-- Floating Labels Form -->
                  <form class="row g-3" id="TaskForm" method="post" action="">
                      {% csrf_token %}
                    <div class="col-md-12">
                      <div class="form-floating">
                          {{ form.title }}
                        <label for="{{ form.title.id_for_label }}">Title</label>
                      </div>
                    </div>
                      <div class="col-12">
                      <div class="form-floating">
                          {{ form.description }}
                        <label for="{{ form.descriptiom.id_for_label }}">Description</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-floating">
                          {{ form.duedate }}
                        <label for="{{ form.duedate.id_for_label }}">Due Date</label>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-floating mb-3">
                          {{ form.priority }}
                        <label for="{{ form.priority.id_for_label }}">Priority</label>
                      </div>
                    </div>

                    <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="TaskFormBtn" class="btn btn-primary" >Submit</button>
          </div>
                  </form><!-- End floating Labels Form -->
          </div>
        </div>
      </div>
    </div>







   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/static/js/addtaskmodel.js"></script> -->
    <script src="/static/js/ajax.js"></script>





</body>
{% endblock %}