{% extends 'User/index.html' %}
{% block body %}

<body>

  <!-- ======= Header ======= -->
  
  <!-- ======= Sidebar ======= -->


  
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              {% if data.photo == 'None' %}
              <img src="/static/assets/img/20230814095643.jpg" alt="Profile" class="rounded-circle">
              {% else %}
              <img src="{{ data.photo }}" alt="Profile" id="dpimg" class="rounded-circle">
              {% endif %}
              <h2 id="fname">{{ data.name }}</h2>
              <h3 id="jobb">{{ data.type }}</h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>


              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8" id="ovfname">{{ data.name }}</div>
                  </div>

                  <!-- <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company</div>
                    <div class="col-lg-9 col-md-8">NUOX Technologies</div>
                  </div> -->

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Job</div>
                    <div class="col-lg-9 col-md-8" id="ovjob">{{ data.type }}</div>
                  </div>


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8" id="ovphone">{{ data.phone }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ data.email }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="" method="post" enctype="multipart/form-data" id="profileform" >
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">

                        <img src="" id="profileimg" alt="Profile">

                        <input type="file" id="profileImageInput" style="display: none;">
                        <div class="pt-2">
                            <a href="#" class="btn btn-primary btn-sm" id="uploadImage" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                            <a href="#" class="btn btn-danger btn-sm" id="removeImage" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>



                      </div>
                    </div>
                    </form>
                    <form action="" method="post" id="editprofileform">
                      {% csrf_token %}
                    <div class="row mb-3">
                      <label for="{{ eform.fullName.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        {{ eform.name }}

                      </div>
                    </div>

                 

                    <div class="row mb-3">
                      <label for="{{ eform.job.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Job</label>
                      <div class="col-md-8 col-lg-9">
                        {{ eform.job }}

                      </div>
                    </div>

              

                    <div class="row mb-3">
                      <label for="{{ eform.phone.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        {{ eform.phone }}

                        <span id="phoneError" class="text-danger"></span>
                        {% if eform.phone.errors %}
                        <ul class="errorlist" >
                          {% for error in eform.phone.errors %}
                            <li><span class="text-danger">{{ error }}</span></li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ eform.email.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        {{ eform.email }}
                      </div>
                    </div>

          

                    <div class="text-center">
                      <button type="submit" id="saveChange" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form action="" method="post" id="editreminder">
                    {% csrf_token %}
                    <div class="row mb-3" id="notificationform">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check form-switch">
                          {{ rform.reminder_enabled }}
                          <label class="form-check-label" for="{{ rform.reminder_enabled.id_for_label }}">On/Off</label>
                        </div>
                       
                      </div>
                    </div>

                    <!-- <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div> -->
                  </form>

                </div>

              

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="/static/js/editprofilevalidation.js" ></script>
  
  


</body>

{% endblock %}